.nav-container{ 
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 80px;
    align-items: center;
}
#drop-down{
    position: absolute;
    right: 13% ;
    top: 6%;
    background-color: black;
}
